@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;300;400&display=swap');

:root{
    --lightgray: #f0eef1;
    --green: rgb(105, 247, 105);
    --red: rgb(255, 118, 118);
    --blue: #4285F4;
    --navyToBlue: linear-gradient(to right, var(--navy), var(--blue));
    --shadow: 0px 2px 2px lightgray;
    --gray: rgb(94, 94, 94);
    --font: 'Roboto', sans-serif;
}

body{
    font-family: 'Handjet', cursive;
}

/*CSS RESET*/
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
